POSTGRES_DB=dropuz
POSTGRES_USER=dropuz
POSTGRES_PASSWORD=replace_with_a_local_password
POSTGRES_PORT=5432

API_HTTP_PORT=8080
FRONTEND_ORIGIN=http://localhost:5173
IDENTITY_ALLOW_INSECURE_HTTP=true

OUTBOX_ENABLED=true
OUTBOX_BATCH_SIZE=20
OUTBOX_POLL_INTERVAL_SECONDS=15

NOTIFICATION_DELIVERY_ENABLED=true
NOTIFICATION_DELIVERY_BATCH_SIZE=20
NOTIFICATION_DELIVERY_POLL_INTERVAL_SECONDS=15

CARGO_EXPIRATION_JOB_ENABLED=true
CARGO_EXPIRATION_POLL_INTERVAL_MINUTES=15
